name: Daily Historical Anecdotes
on:
  push:
    branches:
      - main
  # Runs every day at 19:00 UTC
  schedule:
    - cron: '0 19 * * *'
  

permissions:
    contents: write  # Required to write the generated image file
      

jobs:
  daily-anecdote:
    runs-on: ubuntu-latest
    name: Generate Daily Anecdote
    steps:
      - name: Generate Historical Anecdote
        uses: tot0p/Mistrallnecdote@main
        with:
          mistral_api_key: ${{ secrets.MISTRAL_API_KEY }}
          topics: 'History, Technology, Science, Art'
          language: 'en'
          OUTPUT_PATH: "anecdotes/daily.png"
          model: "mistral-medium-latest"
